:root {
  --primary-color: #e8b008;
  --secondary-color: #2ecc71;
  --background-color: #111111;
  --text-color: #706d69;
  --border-radius: 5px;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

* {
  accent-color: #282828;
}

input,
select,
button {
  background-color: #282828;
  border-color: #050505 !;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"],
select {
  flex: 1;
  padding: 10px;
  border: 1px solid #050505;
  border-radius: var(--border-radius);
  font-size: 16px;
}

button {
  padding: 10px 15px;
  /* background-color: var(--primary-color); */
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button img {
  height: 20px;
  width: 20px;
}

button:hover {
  background-color: #2980b9;
}

.group {
  background-color: #282828;
  border-radius: var(--border-radius);
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.group-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

li button {
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 5px;
}

/* li button:nth-child(2) {
  background-color: var(--secondary-color);
} */

li button:nth-child(2):hover {
  /* background-color: #27ae60; */
}

li button:last-child {
  padding: 0px;
}

li button:last-child img {
  object-fit: contain;
  /* background-color: #e74c3c; */
}

li button:last-child:hover {
  background-color: #c0392b;
}
